url {
    
    opacity: 0.5;
  
}

#margint{
margin: 20px;
}

img{
margin: 50px 20px 30px 300px;
height: 300px;
width: 600px;
}

@media screen and (max-width: 800px) {
    
        img{
            margin: 50px 20px 30px 16px;
            height: 300px;
            width: 384px;
            }
        
  }